@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
:root {
    --font1: 'Inconsolata', monospace;
    --font2: 'Poppins', sans-serif;
    --azul: hsla(180, 100%, 50%, 1);
    --rojo: hsla(0, 100%, 50%, 1);
    --white: #fff;
    --color1: #7A68CB;
    --color2: #6D1E68;
    --color3: #e85a50;
    --color4: #fdf37a;
    --color6: #5bb7b6;
    
    --black: #000000;
    --black-light: #010002;
    --black-light-two: #2A2B2F;
    --black-light-three: #454F59;
        
    --font-courier: 'Courier Prime', monospace;
}

body {
    margin: 0;
    padding: 0;
}

main, .section3 {
    height: 100vh;
}

.contenido-centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	max-width: 100%;
	position: relative;
    padding: 0;
}

.texto-interior{
    left: 10%;
    position: absolute; 
	text-align: center;
	top: 50%;
	width: 80%;
}

.img-uno{
    background-image: url('../images/gradiente1.png');
}

.img-dos{
    background-image: url('../images/gradiente2.png');
}

.main-section h1 {
    color: hsla(0, 0%, 100%, 0.9);
    font-family: var(--font1);
    font-size: 4.5rem;
    height: 140px;
    left: 0;
    letter-spacing: 5px;
    margin: -80px 0 0 0;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    width: 100%;
    animation: move linear 2000ms infinite;
} 

@keyframes move {
    0% {
        text-shadow:
            4px -4px 0 var(--rojo),
            3px -3px 0 var(--rojo),
            2px -2px 0 var(--rojo),
            1px -1px 0 var(--rojo),
            -4px 4px 0 var(--azul),
            -3px 3px 0 var(--azul),
            -2px 2px 0 var(--azul),
            -1px 1px 0 var(--azul);
    }

    25% {
        text-shadow:
            -4px -4px 0 var(--azul),
            -3px -3px 0 var(--azul),
            -2px -2px 0 var(--azul),
            -1px -1px 0 var(--azul),
            4px 4px 0 var(--rojo),
            3px 3px 0 var(--rojo),
            2px 2px 0 var(--rojo),
            1px 1px 0 var(--rojo);
    }

    50% {
        text-shadow:
            -4px 4px 0 var(--rojo),
            -3px 3px 0 var(--rojo),
            -2px 2px 0 var(--rojo),
            -1px 1px 0 var(--rojo),
            4px -4px 0 var(--azul),
            3px -3px 0 var(--azul),
            2px -2px 0 var(--azul),
            1px -1px 0 var(--azul);
    }

    75% {
        text-shadow:
            4px 4px 0 var(--azul),
            3px 3px 0 var(--azul),
            2px 2px 0 var(--azul),
            1px 1px 0 var(--azul),
            -4px -4px 0 var(--rojo),
            -3px -3px 0 var(--rojo),
            -2px -2px 0 var(--rojo),
            -1px -1px 0 var(--rojo);
    }

    100% {
        text-shadow:
            4px -4px 0 var(--rojo),
            3px -3px 0 var(--rojo),
            2px -2px 0 var(--rojo),
    }
}

.productos{
    padding: 2rem 1rem 3rem;
}

.productos h2{
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--font1);
    color: var(--white);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    background-color: #fff !important;
    margin: 1rem;
    border: none !important;
    border-radius: 0 !important;
}

.card_one {
    padding: 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
}
.card_one .images-top {
    background-color: var(--color2);
}

.card_one .card-img-top {
    object-fit: contain;
    height: 160px;
}

.card_one .card-body {
   /*  min-height: 210px;
    height: 100%; */
    border-radius: 0 0 8px 8px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.362);
}

.card_one .card-body .details {
   /*  min-height: 100px; */
    width: 100%;
}

.card_one .card-body .details h4 {
    font-family: var(--font-courier);
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: var(--black);
}

.card_one .card-body .details p {
    font-family: var(--font2);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: var(--black);
}

.card_one .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.card_one .buttons a.showDemo {
    border-radius: 4px;
    background-color: var(--color1);
    padding-block: 9px;
    border: 1px solid var(--color1);
    font-family: var(--font-courier);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.card_one .buttons a.showDemo:hover {
    border: 1px solid var(--color2);
    background-color: var(--color2);
    color: var(--white);
    text-decoration: none;
}

.card_one .buttons a.detalles {
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid var(--color6);
    font-family: var(--font-courier);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black-light);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px 0;
    width: 100%;
}

.card_one .buttons a.detalles:hover {
    text-decoration: none;
    background-color: var(--color6);
    color: var(--white);
}

.caja-interior{
    left: 10%;
    position: absolute; 
	text-align: center;
	width: 80%;
}

.card-form {
    background-color: var(--white);
    width: 35vw;
    margin: auto;
    border-radius: 10px;
    padding: 0 0 1.5rem;
}

.card-form h2{
    font-family: var(--font1);
    font-size: 2.5rem;
    padding: 10px 0 1.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.card-form form {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.form-inputs{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card-form form label {
    font-family: var(--font2);
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

.card-form form input {
    padding: 5px 10px;
    font-family: var(--font2);
    font-size: 0.8rem;
}

label.error {
    font-size: 0.7rem;
    color: #E86F6F;
}

.card-form form button {
    margin-top: 1rem;
    padding: 5px 10px;
    height: 40px;
    font-family: var(--font2);
    font-size: 1rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--color1);
    border-radius: 15px;
    border: 1px solid var(--color1);
}

.msg .flag {
    border-radius: 10px;
    font-family: var(--font1);
    padding: 3px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: var(--white);
}

.inboxVisible{
    display:none;
}

.boxVisible {
    display: flex;
}

.msg .flag.error {
    border: 3px solid #FF0000;
    background-color: #E86F6F;
}

.msg .flag.success {
    border: 2px solid #009021;
    background-color: #51B368;
}

.avisodeprivacidad {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    background-color: var(--color1);
    color: var(--white);
}

.avisodeprivacidad p {
    color: var(--color4);
    font-family: var(--font-courier);
    font-size: .8rem;
}

.avisodeprivacidad a {
    font-family: var(--font1);
    font-size: 1rem;
    cursor: pointer;
    color: var(--white);
}

.avisodeprivacidad a:hover {
    color: var(--color4);
    font-weight: 800;
    text-decoration: none;
    font-style: italic;
}

.btn-redes-sociales {
    z-index: 1000;
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    cursor: pointer;
}

.btn-redes-sociales a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: var(--color2);
    border: 2px solid var(--black-light-three);
    margin: 0 0 1rem;
    cursor: pointer;
}

.btn-redes-sociales a:hover {
    transform: translateY(-7px);
    background-color: var(--color1);
    border: 2px solid var(--black-light-three);
}

.btn-redes-sociales a img {
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 1280px) {
    .card_one .buttons a.detalles {
        width: 70%;
    }
}

@media screen and (max-width: 1200px) {
    .card_one .buttons a.detalles {
        width: 100%;
    }

    .card_one .buttons {
        flex-direction: column;
    }

    .btn-redes-sociales {
        right: 20px;
    }
}

@media screen and (max-width: 980px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-form {
        width: 60vw;
    }

    .main-section h1 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 525px) {
    .main-section h1 {
        font-size: 2.5rem;
    }
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-form {
        width: 90vw;
    }
    .caja-interior {
        left: 0;
        width: 100%;
    }
}